body {
    font-family: sans-serif;
}

table, h1 {
    width: 60%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

table td, table td {
    border-right: 1px solid #808080;
}

table th {
    padding: 10px;
    background: #102000;
    color: #ffffff;
    border-right: 1px solid #ffffff;
    text-transform: uppercase;
}

table tr td:last-child {
    border-right: 0;
}

table th:last-child {
    border-right: 0;
}

table td {
    padding: 10px;
}

#users tr:nth-child(even) {
    background: #dcdcdc;
}
